.header{
    background-image: linear-gradient(rgba(5, 10, 80, 0.907), rgba(4,9,30,0.77)),
    url('/campus2.JPEG');
    
    background-size: cover;
    background-position: 30px -50px;
}

.pageTitle{
    color: white;
    text-align: center;
    padding:40px 0px;
    font-size: 32px;
    
}
.title{
    font-size: 32px;
    letter-spacing: 4px;
}