@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');
:root{
    --gold:rgb(177, 177, 0);
    --gold2:rgb(208, 218, 9);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
    
}
body{
    overflow-x: hidden;
}
.nav-bar{
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 10px rgb(7, 14, 224,0.38);
}
.logo-div{
    width: 90px;
    height: 90px;
    background-color: whitesmoke;
}
.logo-div:hover{
    cursor: pointer;
}
#logo{
    width: 100%;
    height: 100%;
    filter: brightness(150%);
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 80%;
    padding: 4px 0px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    transition: 0.4s;
     
}
.nav-links a::after{
    content: '';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0%;
    height: 2px;
    background-color: white;
    margin: auto;
    transition: 0.2s;
}
.nav-links a:hover::after{
    width: 100%;  
    transition: 0.5s;
} 
.nav-links a:hover{
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 3px;
}
button:hover{
    cursor: pointer;
}


/* FOR RESPONSIVENESS */
@media(max-width:700px){
    .logo-div{
        width: 70px;
        height: 70px;
    }
    .nav-links{
        width: 85%;
        justify-content: center;
    }
    .nav-links a{
        font-size: 14px;
        padding: 0px 4px;
    }
    .nav-links :first-child{
        display: none;
    }
    .nav-links a:hover{
        letter-spacing: 1px;
        font-size: 16px;
    }
    
}

footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 40px 0 30px;
    /* border-top-left-radius: 125px;
    border-top-right-radius:125px ; */
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
    color: whitesmoke;
    opacity: 0.5;
}
.col1{
    flex-basis: 25%;
    padding: 10px;
    color: whitesmoke;
    opacity: 0.5;
}
.col1:nth-child(2), .col1:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col1 h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
    width: 29%;
    height: 60px;
    padding-top: 7%;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}
.col2 h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
    width: 29%;
    height: 60px;
    padding-top: 7%;
    font-weight: bold;
    font-size: 20px;
}

.col3 h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
    width: 29%;
    height: 60px;
    padding-top: 7%;
    font-weight: bold;
    font-size: 20px;
    
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.footer-links{
    list-style: none;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}
.footer-links a{
    text-decoration: none;
    color: #fff;
}
.footer-links a:hover{
    color: blueviolet;
}

.form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .bi-envelope{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.social-icons .bi{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 20px;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #acc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    opacity: 0.5;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
 }
@keyframes moving{
    0%{left: -20px;}
    100%{left: 100%;}
}