@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');
:root{
    --gold:rgb(177, 177, 0);
    --gold2:rgb(208, 218, 9);
}*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Anek Tamil', sans-serif;
    
    
    font-size: 18px;
    font-weight: 600;
}
.nav-bar{
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 10px rgb(7, 14, 224,0.38)
}
.logo-div{
    width: 90px;
    height: 90px;
    background-color: whitesmoke;
}
.logo-div:hover{
    cursor: pointer;
}
#logo{
    width: 100%;
    height: 100%;
    filter: brightness(150%);
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 80%;
    padding: 4px 0px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    transition: 0.4s;
     
}
.nav-links a::after{
    content: '';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0%;
    height: 2px;
    background-color: black;
    margin: auto;
    transition: 0.2s;
}
.nav-links a:hover::after{
    width: 100%;
    transition: 0.5s;
} 
.nav-links a:hover{
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 3px;
}
.divone{
    transform: 'scale(1)'
}
.divone:hover{
    
        transform: scale(1.2);

}

.divtwo{
    transform: 'scale(1)'
    
}

.divtwo:hover{
    transform: scale(1.2);
    /* transition: all 01s ease-in; */
}

.cardcontainer{
    position: relative;
    margin: 15% auto;
    width: 90%;
    color: white;
}
.card{
    display: inline-block;
    background-color: rgb(32, 32, 32);
    /* border: solid 1px green; */
    text-align: center;
    color: white;
    /* height: 220px; */
   
    margin: 10px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(32, 32, 32,0.5);
    font-size: 10px;
    padding: 15px 10px;
    transition: all 0.3s ease-in;
    
}
.card:hover {
    transform: scale(1.2);
}
.cardtwo {
    display: inline-block;
    background-color: black;
    /* border: solid 1px green; */
    text-align: center;
    color: white;
    /* height: 220px; */
   
    margin: 5px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(32, 32, 32,0.5);
    font-size: 10px;
    padding: 15px 10px;
    transition: all 0.3s ease-in; 
}

.button{
    transition: all 0.3s ease-in;
}

.button:hover {
    transform: scale(1.2);
    color: black;
}
.img{
    transition: all 0.3s ease-in;  
}
.img:hover{
    transform: scale(1.2);
}


/* FOR RESPONSIVENESS */
@media(max-width:700px){
    .logo-div{
        width: 70px;
        height: 70px;
    }
    .nav-links{
        width: 85%;
        justify-content: center;
    }
    .nav-links a{
        font-size: 14px;
        padding: 0px 4px;
    }
    .nav-links :first-child{
        display: none;
    }
    .nav-links a:hover{
        letter-spacing: 1px;
        font-size: 16px;
    }
    
}