.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(5, 10, 30, 0.7), rgba(4,9,30,0.7)), url("/campus image1.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
}
.titleDiv{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    letter-spacing: 4px;
    opacity: 0.7;
}
.logoDiv2{
    width: 100px;
    height: 100px;

}
.logoDiv2 img{
    width: 100%;
    height: 100%;
    filter: brightness(150%);
    opacity: 0.9;
}
/* FOR RESPONSIVENESS */
@media(max-width:700px){
    .titleDiv{
        font-size: 32px;
        width: 100%;
    }   
}