.main{
    width: 100%;
   background: rgb(236, 232, 232);
   padding-top: 50px;
   padding-bottom: 50px;
   
}

.buttonOne{
   background: linear-gradient(to right, #00093c,#2d0b00);
   text-align: center;
   border: none;
   border-radius: 50px;
   padding: 1.7%;
   cursor: pointer;
}
.buttonOne:hover{
   padding: 1.9%;
}
.header{
    background: #fff;
    width: 100%;
    margin-top: 90px;
    
}
.headerContainer{
    display: flex;
    margin-left: 50PX;

}
.headerLeft h1{
    color: #4a42ec;
    font-size: 50px;
    width: 800px;
}
.headerLeft p{
    width: 500px;
    margin-top: 30px;
    line-height: 22px;
}

.headerLeft button{
    background: black;
    color: white;
    border: none;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
}
.headerRightImage{
    /* margin-left: 50px; */
    width: 100%;
}
.categories{
    background:rgb(223, 223, 223);
    margin-top: 40px;
    height: 29rem;
    width: 100%;
    /* border: 1px solid red; */

}
.categories h5{
    line-height: 1;
    margin-bottom: 3rem;
    white-space: nowrap;
    
}

.categoriesContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 4rem;
    padding-top: 70px;
    
}
.categoriesLeft{
    margin-right: 6rem;
    margin-left: 50px;
}
.categoriesLeft p{
    margin: 1rem 0 3rem;
}

.categoriesRight{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    margin-right: 0px;

}

.category{
    background: rgb(244, 242, 242);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    z-index: 1;
    width: 100%;
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.categoryIcon{
    /* background: grey; */
    background: linear-gradient(to right, #00093c,#2d0b00);
    padding: 0.7rem;
    border-radius: 0.9rem;
    color: white;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}


/* =====courses===== */

.courses{
    margin-top: 10rem;
}

.coursesContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    width: 100%;
    
}

.course{
    background:rgb(244, 242, 242) ;
    text-align: center;
    border: 1px solid transparent;
    color: rgb(81, 79, 79);
    width: 261px;
    transition: var(--transition);
   margin-left: 50%;
}
.course:hover{
    background-color: transparent;
    /* background-color: rgb(161, 160, 160); */
    color: rgb(65, 65, 65);
     box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.courseInfo{
    padding: 1rem;
}

.courseInfo p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}


/* =====Faqs==== */


