/* FOR GRADY */

.header{
    background-image: linear-gradient(rgba(5, 14, 79, 0.901), rgba(4,0,40,0.701)),
    url('/reg.jpeg');
    
    background-size: cover;
    background-position: left;

}

.pageTitle{
    color: white;
    text-align: center;
    padding:40px 0px;
    font-size: 32px;
    
}
.title{
    font-size: 32px;
    letter-spacing: 4px;
}