/* FOR GRADY */

.header{
    background-image: linear-gradient(rgba(5, 14, 79, 0.901), rgba(4,0,40,0.701)),
    url('/reg.jpeg');
    
    background-size: cover;
    background-position: left;

}

.pageTitle{
    color: white;
    text-align: center;
    padding:40px 0px;
    font-size: 32px;
    
}
.title{
    font-size: 32px;
    letter-spacing: 4px;
}


.hero{
    height: 100%;
    width: 100%;
    background: lightgrey;
    padding: 5px;
}

.formBox{
    width: 380px;
    height: 488px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}
.buttonBox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    color: white;
}
.toggleBtn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    width: 100%;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: white;
    border-radius:30px ;
    transition: .5s;
}
.socialIcons{
    margin: 30px auto;
    text-align: center;
}
.socialIcons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.inputGroup{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inputField{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right:0 ;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submitBtn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkBox{
    margin: 30px 10px 30px 0;
}
.span{
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#Login{
    left: 50px;
}
#Register{
    left: 450px;
}
.show{
    display: flex; 
     background-color: red;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right:0 ;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    
}
.hide{
    display: none;
}
.whiteBtn{
    background-color: white;
}
.colorBtn{
    top: 0;
    right: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #00093c,#2d0b00);
    border-radius:30px ;
    transition: .5s;

} 
